page-getstarted {
    .headertext {
        font-style: normal !important;
        font-weight: 500 !important;
        // line-height: normal !important;
        font-size: 30px !important;
        // text-align: center;
        
        color: #333333 !important;
        
        opacity: 0.9 !important;
    }
    .headertext2{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        // text-align: center;
    }

    .button1{
        height: 48px;
    }
}