.modal-wrapper {
  background-color: rgba(79, 79, 79, 0.8);

  .icon {
    font-size: 4rem;
  }

  .card {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 5px;
    text-align: center;

    .item-select {
      padding-left: 0;
    }

    .item-md.item-block .item-inner {
      border-bottom: 1px solid #dedede;
    }
  }

  ion-card-header {
    white-space: initial !important;
  }
}
