// SEGEMeNT

.segment{
  width: 100%;
  padding-top: 10px;
  background: white;
}

.segment-ios{
  width: 95% !important;
  margin: 0 auto;
  background: transparent!important;
}
.segment-button{
  // text-align: left!important;
  padding-left: 16px;
}