// SIDE-MENU
.sidemenu-icon {
  background: transparent;
}

ion-menu.side-menu.menu-enabled {
  .menu-inner {
    .content {
      .item{
        border-bottom: 1px solid #e8e8e8;
      }
      .menu-buttons {
        padding-top: 8px;
        font-weight: 600;
        color: color($colors, dark);
        .nav-icon {
          width: 20px;
          margin-right: 15px;
          vertical-align: text-bottom;
        }

        .label{
          margin: 0px 8px 11px 0 !important;
        }
        .menu-section {
          border-bottom: 1px solid #E7E6F7;
        }
        .item {
          padding: 0px 16px;
          color: color($colors, dark);
          border-bottom: unset;

          &:active {
            background-color: #E7E6F7;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            .nav-icon {
              filter: invert(0.5);
            }
          }
        }
      }
    }
  }
}

.side-menu {
  .scroll-content {
    padding-top: 0 !important;
  }
  .menu-title {
    ion-avatar {
      min-width: 60px !important;
      min-height: 60px !important;
      img {
        width: 60px !important;
        height: 60px !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
        border: 2px solid color($colors, almost-dark);
      }
    }
    p {
      font-size: 2rem;
      font-weight: 900;
      margin-top: 5px;
      white-space: normal;
    }
  }
}
